body {
  background-color: black;
  color: white;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.1);
  font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: none;
  color: rgb(255, 255, 255);
  text-transform: none;
  --background-base: #121212;
  --background-highlight: #1a1a1a;
  --background-press: #000;
  --background-elevated-base: #242424;
  --background-elevated-highlight: #2a2a2a;
  --background-elevated-press: #000;
  --background-tinted-base: hsla(0,0%,100%,0.07);
  --background-tinted-highlight: hsla(0,0%,100%,0.1);
  --background-tinted-press: hsla(0,0%,100%,0.04);
  --background-unsafe-for-small-text-base: #121212;
  --background-unsafe-for-small-text-highlight: #121212;
  --background-unsafe-for-small-text-press: #121212;
  --text-base: #fff;
  --text-subdued: #a7a7a7;
  --text-bright-accent: #1ed760;
  --text-negative: #f15e6c;
  --text-warning: #ffa42b;
  --text-positive: #1ed760;
  --text-announcement: #3d91f4;
  --essential-base: #fff;
  --essential-subdued: #727272;
  --essential-bright-accent: #1ed760;
  --essential-negative: #e91429;
  --essential-warning: #ffa42b;
  --essential-positive: #1ed760;
  --essential-announcement: #0d72ea;
  --decorative-base: #fff;
  --decorative-subdued: #292929;
  box-sizing: border-box;
  transform: translateY(0px);
}

* {
    box-sizing: border-box;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.ezsUts {
    border: 0px;
    touch-action: manipulation;
    -webkit-box-align: center;
    align-items: center;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    color: rgb(255, 255, 255);
    -webkit-box-flex: 0;
    flex-grow: 0;
    height: 72px;
    position: relative;
    width: 100%;
    padding: 8px 16px;
    max-width: calc(100% - 56px);
    transition: background-color 0.1s cubic-bezier(0.3, 0, 0, 1) 0s, opacity 0.1s cubic-bezier(0.3, 0, 0, 1) 0s, padding 0.1s cubic-bezier(0.3, 0, 0, 1) 0s;
}

.gjGKfQ {
    color: rgb(179, 179, 179);
    min-width: 40px;
    margin-right: 16px;
}
.hQAkut {
    font-size: 13px;
    font-weight: 700;
    line-height: 16px;
}
.cBUsAm {
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Kaku Gothic Pro", Meiryo, "MS Gothic", sans-serif;
}

.jgwIJB {
    width: 100%;
    overflow: hidden;
    display: flex;
    text-align: left;
    flex-direction: row;
}

.fyvdUh {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

.jmkXxH {
    color: inherit;
}

.fyvdUh > * {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hJNGAr {
    color: rgb(179, 179, 179);
}

.lePPZB {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
}

.jwEaAv {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.hJNGAr a {
    color: rgb(179, 179, 179);
}

.cOATDF {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bgAPjd {
    color: var(--text-base,#000000);
    width: 46px;
    overflow: hidden;
    padding: 20px 12px;
    display: flex;
}

.dgCAam {
    background: transparent;
    border: 0px;
    padding: 0px;
    transition: background-color 0.2s ease 0s;
    touch-action: manipulation;
}

.bDBeYC {
    stroke-width: 1pt;
}

.bDBeYC [stroke="#181818"] {
    stroke: var(--text-base,#000000);
}
.bDBeYC [fill="#181818"] {
    fill: var(--text-base,#000000);
}
.bDBeYC * {
    vector-effect: non-scaling-stroke;
}

.hhqOYA {
    margin: 2px 0px;
    display: flex;
    flex-direction: row;
}

.qnYVzttodnzg9WdrVQ1p {
    bottom: 0;
    overflow: hidden;
}

.lyVkg68L7ycnwyOcO3vj, .qnYVzttodnzg9WdrVQ1p {
    pointer-events: none;
    position: absolute;
    width: 100%;
}